body
{
    background-color: #3450A1;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container
{
    /* background-color: #3450A1; */
    height: 100%;
}
.test
{
    padding: 50px 0px;
}
i
{
    color: #FB063D;
    font-size: 20px;
}
.bgplugin

{
    background-color:#3450A1;
}
.item
{
    background-color: #041955;
    height: 60px;
    color: white;

}

.icon
{
    background-color: #041955;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 60px;
}
.icon2
{
    background-color: #041955;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 60px;
}
.input
{
    padding: 14px;
    background-color: #183075;
    border: none;
    border-radius: 20px;
}
.input:focus
{
    background-color: #183075;
}

#button 
{
    position: absolute;
    background-color: #EB06FF;
    top: 7px;
    right:18px;
    border-radius: 50%;
}
#button i 
{
    color: #fff;
}
.check
{
    color: #7184bee1;
}

.tasks
{
    background-color: #5C76BD;
    /* padding: 10px; */
    border-radius: 20px;
    font-size: 18px;
    font-weight: 650;
}
.tasks span
{
    background-color: #041955;
    height: 30px;
    width: 30px;
    color: #FB063D;
    border-radius: 10px;
}

#deletebtn
{
    cursor: pointer;
}
.line-decoration
{
    background-color: #5C76BD;
    text-decoration: line-through white solid 3px;
}
